:root {
  --herosection-height: 600px;
  --herosection-phone-height: 250px;
  --herosection-tablet-height: 300px;

  --phone-gap: 10px;
  --tablet-gap: 15px;
  --desktop-gap: 20px;

  --phone-text-size: 16px;

  --topsection-padding-top: 60px;
  --topsection-phone-padding-y: 20px;
  --topsection-padding-x: 60px;
  --topsection-phone-padding-x: 20px;

  --missionsection-gap: 50px;
  --subsection-padding: 50px;
}

#smoothpreloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #5b4021;
}

#smoothpreloadercontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

#smoothpreloadercontainer img {
  width: 200px;
  height: auto;
  border-radius: 20px;
}

.mainlogo {
  width: 50px;
  height: 50px;
}

.navbar {
  background-color: rgb(180, 135, 83) !important;
}

.herosection {
  background-color: blue;
  height: 100%;
  width: 100%;
}

.herocontainer {
  background-image: url("./assets/sara-gomes-6XVJsOLL5mc-unsplash.jpg") !important;
  height: var(--herosection-height);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.herooverlay {
  /* position: absolute; */
  width: 100%;
  height: var(--herosection-height);
  background-color: rgba(0, 0, 0, 0.45);
  gap: 20px;
}

.herocontainer h3 {
  font-size: 80px;
  color: #ead72a;
  /* background-color: yellow; */
  text-align: center;
}

.herocontainer p {
  font-size: 40px;
  color: white;
  text-align: center;
}

.topsection {
  background-color: #5b4021;
  padding: var(--topsection-padding-top);
}

/* mission section  */
.missionsection,
.productsection,
.premiumsection {
  /* background-color: rgb(180, 135, 83); */
  gap: var(--missionsection-gap);
  text-align: center;
  padding: var(--subsection-padding);
}

.missionsection h1,
.productsection h1,
.premiumsection h1 {
  color: rgb(234, 215, 42);
}

.missionsection p,
.productsection p,
.premiumsection p {
  width: 500px;
  margin: 0 auto;
  text-align: justify;
  color: white;
  font-size: 20px;
  text-align: justify;
}

.discoverimage {
  height: 550px;
  /* background-color: brown; */
  flex: 1;
}

.discoverimage img {
  height: 100%;
  object-fit: cover;
  flex: 1;
}

.discovercontent {
  /* background-color: yellow; */
  gap: 40px;
  flex: 1;
  padding: 30px;
}

.discovercontent h3 {
  /* color: rgb(180, 135, 83); */
  color: #ead72a;
  width: 500px;
}

.discovercontent p {
  color: white;
  width: 500px;
  font-size: 20px;
  text-align: justify;
}

.prodsection {
  /* background-color: pink; */
  padding: 50px;
  gap: 30px;
}

.prodcontent {
  /* padding: 10px; */
  gap: 100px;
}

.prodcontent .prodcard {
  /* background-color: orange; */
  width: 350px;
  flex: 1;
  border-radius: 5px;
  box-shadow: 2px 3px 6px 3px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  /* background-color: #f1f1f1; */
}

.prodcontent .prodcard img {
  height: 300px !important;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.prodcontent .prodcard h3 {
  /* color: rgb(180, 135, 83); */
  text-align: center;
  color: #2c1a08 !important;
}

.prodcontent .prodcard p {
  text-align: center;
  padding: 10px;
  text-align: center;
  color: #2c1a08 !important;
}

.prodsection .prodtitle {
  color: #ead72a;
  padding: 40px;
  /* background-color: burlywood; */
}

.footertitle {
  color: #ead72a;
  padding: 40px;
  text-align: center;
  /* background-color: burlywood; */
}

ul.footerlinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footertitle {
  font-size: 15px;
}

.footerbottom {
  gap: 30px;
}

.socialiconcontainer {
  /* background-color: #ead72a; */
  gap: 30px;
  padding: 20px;
}

.socialiconcontainer a {
  color: white;
  font-size: 30px;
}

.copyrightcontainer {
  margin-bottom: -40px;
}

.copyrightcontainer p {
  color: white;
}

.nav-link {
  font-size: 17px;

  text-decoration: none;
  color: #ead72a;
  padding: 15px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #ead72a;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

nav li a {
  color: #ead72a;
  text-decoration: none;
  display: block;
  padding: 8px;
  text-align: center;
  transition-duration: 0.4s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav li a:hover {
  color: #ffffff;
}
nav li {
  display: inline;
  float: right;
  border-width: 5px;
  border-color: blue;
}

.formsection{
  background-color: white;
  width: 100% !important;
  padding:0;
}


#contact-form{
  padding:100px 150px;
  margin: 0;
}

/* Mobile devices (widths up to 599px) */
@media (max-width: 599px) {
  .herocontainer,
  .herooverlay {
    height: var(--herosection-phone-height);
  }

  .herooverlay {
    gap: var(--phone-gap);
  }

  .herocontainer h3 {
    font-size: 30px;
  }

  .herocontainer p {
    font-size: 20px;
  }

  /* TopSection */
  .topsection {
    padding: var(--topsection-phone-padding-y);
  }
  /* End of TopSection */

  /* Mission Section */
  .missionsection,
  .productsection,
  .premiumsection {
    gap: var(--phone-gap);
    text-align: center;
    padding: var(--topsection-phone-padding-y) auto;
  }

  .missionsection h1
  /* .productsection h1, */
  /* .premiumsection h1  */ {
    font-size: 30px;
  }

  .missionsection p
  /* .productsection p, */
  /* .premiumsection p  */ {
    /* margin: 0 auto; */
    font-size: var(--phone-text-size);
    line-height: 18px;
    letter-spacing: 0.3px;
    width: 100%;
  }
  /* End of Mission Section */

  /* Discover Section */
  .discoversection {
    flex-direction: column;
    width: 100%;
    border: none;
  }

  .discoverimage {
    height: 150px;
    width: 100%;
    background-color: yellowgreen;
    padding: 0;
  }

  .discoverimage img {
    height: 100%;
    object-fit: cover;
    margin: 0;
    width: 250px;
  }

  .discovercontent {
    width: 100%;
    gap: var(--phone-gap);
    padding: 0px;
    display: block;
    padding: 10px;
  }

  .discovercontent h3 {
    /* color: rgb(180, 135, 83); */
    color: #ead72a;
    width: 100%;
    font-size: 30px;
  }

  .discovercontent p {
    color: white;
    width: 100%;
    font-size: var(--phone-text-size);
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: justify;
  }

  /* End of Discover Section */

  /* Production Section */

  .prodsection {
    padding: 10px;
    gap: var(--phone-gap);
    width: 100%;
  }

  .prodcontent {
    /* padding: 10px; */
    gap: var(--phone-gap);
    width: 100%;
    flex-wrap: wrap;
  }

  .prodcontent .prodcard {
    max-width: 315.2px !important;
    flex: 1;
    border-radius: 5px;
    box-shadow: 2px 3px 6px 3px rgba(0, 0, 0, 0.1);
  }

  .prodcontent .prodcard img {
    height: 300px !important;
    width: 300px !important;
    object-fit: contain;
    margin: 0 auto;
  }

  .prodcontent .prodcard h3 {
    text-align: center;
    color: #2c1a08 !important;
  }

  .prodcontent .prodcard p {
    text-align: center;
    padding: 10px;
    text-align: center;
    color: #2c1a08 !important;
  }

  .prodsection .prodtitle {
    color: #ead72a;
    padding: 20px;
    /* background-color: burlywood; */
  }

  .copyrightcontainer {
    margin-bottom: -20px;
  }

  iframe{
    height: var(--herosection-phone-height);
  }

  /* End of Product Section */
}

/* Large screens (widths above 1024px) */
@media (min-width: 1025px) {
}

/* Tablets (widths between 600px and 1024px) */
@media (min-width: 600px) and (max-width: 1024px) {
}
